
.modal__window{
    width: 590px;
    height: 718px;
    background-color: white;
    position: absolute;
    right: -85%;/* 0*/
    top: -500%;/* 120%*/
    border-radius: 12px;
    scale: 0;
    transition: 0.3s;
    visibility: hidden;
    z-index: 1000;
}

.modal__active{
    visibility: visible;
    scale: 1;
    right: -6%;/* 0*/
    top: 150%;/* 120%*/
}

.modal__content{
    padding: 30px;
}


.modal__main__content{
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 100;
    
}